<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
    
    <servlet>
        <servlet-name>dailyUpdate</servlet-name>
        <servlet-class>com.kai.twilio.main.DailyUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dailyUpdate</servlet-name>
        <url-pattern>/dailyUpdate</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>pastTrivia</servlet-name>
        <jsp-file>/pastTrivia.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>pastTrivia</servlet-name>
        <url-pattern>/pastTrivia</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>playerProfile</servlet-name>
        <jsp-file>/playerProfile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>playerProfile</servlet-name>
        <url-pattern>/playerProfile</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>addPlayer</servlet-name>
        <servlet-class>com.kai.twilio.main.TwilioFTWServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPlayer</servlet-name>
        <url-pattern>/addPlayer</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>removePlayer</servlet-name>
        <servlet-class>com.kai.twilio.main.PlayerRemoveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removePlayer</servlet-name>
        <url-pattern>/removePlayer</url-pattern>
    </servlet-mapping>
    
 	<servlet>
		<servlet-name>TwilioResponseServlet</servlet-name>
		<servlet-class>com.kai.twilio.main.TwilioResponseServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>TwilioResponseServlet</servlet-name>
        <url-pattern>/sms</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>TriviaServlet</servlet-name>
		<servlet-class>com.kai.twilio.main.TriviaServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>TriviaServlet</servlet-name>
        <url-pattern>/setTrivia</url-pattern>
    </servlet-mapping>
    
    
	<welcome-file-list>
		<welcome-file>twilioHome.jsp</welcome-file>
	</welcome-file-list>
</web-app>
